---
// Component Script: is a server-only cause it's a static site
import MainLayout from "../layouts/MainLayout.astro";
const name = "Esteban Alzate";
const title = "Esteban Alzate";

const currentTime = new Date().toLocaleTimeString();
---

<MainLayout title="Home Page">
	<h1>{name}</h1>
	<h2>{currentTime}</h2>
	<p>Momento actual: {new Date().toLocaleTimeString()}</p>
	<p id="current-hour"></p>
	<p class="current-time"></p>
	<footer></footer>
	<!-- When we used JS inside to html tags the element is static (server-only) while if it is generated within by script tag  the code will be actualized (client-only) -->
	<script>
		// Client-only:
		const currentYear: number = new Date().getFullYear();
		const footer = document.querySelector("footer") as HTMLElement;
		footer.innerHTML = `Current year is ${currentYear}`;

		// const currentHour: number = new Date().getHours();
		// const currentMinute: number = new Date().getMinutes();
		// const currentSeconds: number = new Date().getSeconds();
		const currentTime: string = ` ${new Date().getHours()}:${new Date().getMinutes()}:${new Date().getSeconds().toString().padStart(2, "0")}`;

		console.log(Date.now());

		const p = document.getElementById("current-hour") as HTMLElement;
		// p.innerText = `Momento actual: ${currentHour}:${currentMinute}:${currentSeconds.toString().padStart(2, "0")}`;
		p.innerText = `Momento actual: ${currentTime}`;

		const currentNewTime = new Date().toLocaleTimeString();
		const p2 = document.querySelector(".current-time") as HTMLElement;
		p2.innerText = `Momento actual: ${currentNewTime}`;
	</script>
</MainLayout>
